.icon {
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1, 1.1) !important;
}

.button {
  margin-top: 10px;
  width: 100%;
  border-radius: 0 !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.file {
  margin-bottom: 5px;
}

.add-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-button {
  font-weight: bold !important;
}

.status-btn {
  padding: 5px 10px !important;
}

.settings-form {
  display: flex !important;
  flex: 2;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.settings-field {
  margin-bottom: 20px !important;
  width: 50% !important;
}

.settings-btn-wrapper {
  display: flex !important;
}
.settings-btn-save {
  margin-right: 10px !important;
  border-radius: 5px !important;
}
.admin-wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.admin-profile-image-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.admin-profile-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 13px gray;
}

.admin-field {
  margin-bottom: 20px !important;
  width: 70% !important;
}
