.icon {
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1, 1.1) !important;
}

.model {
  align-self: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  border-radius: 0 !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
